* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background-color: purple;
  }

  .headerLinks {
    display: flex;
    justify-content: space-between;
    width: 220px;
    background-color: pink;
  }

  .header h3 {
    margin-right: 10px;
  }

  .quote {
    background-color: aquamarine;
    width: 100%;
    text-align: center;
    font-size: 70px;
    padding: 50px;
  }

  .projectCards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 2000px;
    margin: 30px 0;
  }


  .item1, .item2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: green;
    height: 300px;
    width: 90%;
  }

  .item2 {
    flex-direction: row-reverse;
  }




  img {
    height: 250px;
    width: 250x;
    border-radius: 45px;
    box-shadow: 10px 10px 5px black;
  }

  .contactForm {
    display: flex;
    margin-left: 5%;
    height: 300px;
    width: 90%;
    
  }

  .contactLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    width: 50%;
    background-color: pink;
  }

  .contactInput {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    justify-content: space-between;
  }

  textarea {
    height: 100px;
    width: 425px;
  }

  #menuchk {
    display: none;
  }




  @media (max-width:768px) {
    .header {
      display: flex;
      flex-direction: column;
      height: 200px;
    }


    .item1, .item2 {
      flex-direction: column;
    } 
    
    .contactForm {
      flex-direction: column;
      text-align: center;
      width: 180%;
    }
    
    img {
      height: 150px;
      width: 250px;
    }

  }

  @media (max-width: 480px) {
    .headerLinks{
      display: none;
    }

    .header h3{
      margin-bottom: 100px;
    }

    .burger {
      display: block;
        font-size: 3em;
    
    }

    #burger:checked + .header{
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 100%;
      top: 50px;
      align-items: center;
      
      
    }
  }


  
  

  