* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background-color: purple;
  }

  .headerLinks {
    width: 120px;
    background-color: pink;
    display: flex;
    justify-content: space-between;
  }

  .header h3 {
    margin-right: 10px;
  }

  .quote {
    background-color: aquamarine;
    width: 100%;
    text-align: center;
    font-size: 70px;
    padding: 50px;
  }

  .projectCards {
    height: 2000px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }


  .item1, .item2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: green;
    height: 300px;
    width: 90%;
  }

  .item2 {
    flex-direction: row-reverse;
  }




  img {
    height: 150px;
    width: 250px;
    background-color: yellow;

  }

  @media (max-width:480px) {
    img {
      height: 112px;
      width: 187px;
    }
    
    .projectText {
      color: red;
    }



  }

  @media (max-width:768px) {
    .header {
      display: flex;
      flex-direction: column;
      height: 200px;
    }

    .item1, .item2 {
      flex-direction: column;
    }
  }

  